streamlit

tensorflow

fastapi
uvicorn

numpy
pandas
scikit-learn
scipy
joblib

matplotlib
pillow

pydantic
starlette
typing_extensions

python-dateutil
pytz
tzdata

annotated-doc
anyio
click
colorama
contourpy
cycler
fonttools
h11
idna
kiwisolver
packaging
pyparsing
six
threadpoolctl